#goku{
    display: none;

}
.gohan>ul{
    display: flex;
    background:linear-gradient( rgb(19, 19, 19),black);
    margin-left: 70%;
      width: 20%;
    list-style: none;
border-radius: 10px;
    height: 100px;
}
.gohan>ul>li>a>img{
    height: 25px;
    margin-top: 30px;
    margin-left: -20px;
    margin-right: 20px;
}

